<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-4">
      <p class="mt-3 text-muted font-weight-bold">
        Promedio de rating: <span class="badge text-bg-primary rounded-pill"> {{ calcularPromedio().toFixed(2) }} </span> 
      </p>
    </div>
  </div>

  <div class="container mt-4 px-4">
    <div class="row g-4">
      <div class="col-12 col-md-4" *ngFor="let anime of animes">
        <div class="card p-3">
          <h5 class="card-title">{{ anime.name }}</h5>

            <img
              class="card-img-top"
              [src]="anime.img"
              [alt]="anime.name"
              (click)="onSelected(anime)"
            />

          <div class="card-body">
            <p class="card-text">Categorias: {{ anime.categorie }}</p>
            <p class="card-text">temporadas: {{ anime.seasons.length }}</p>
            <a [routerLink]="['/animes', anime.id]" (click)="seleccionarAnime(anime)">More information</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
